html {
  width: 600px;
  margin: 0 auto;
}

.container {
  background-image: linear-gradient(to top, #ffecd2 0%, #fcb69f 100%);
  border: 1px solid #d63447;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

h1 {
  text-align: center;
  font-family: "Elsie", cursive;
  padding: 0px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin: 0 auto;
}

.conditionstoday {
  text-align: center;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 800;
  padding: 5px 0px;
  margin: 0 auto;
  color: #d63447;
}

#icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
  color: white;
}

.col-6 {
  padding: 5px;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}

#todayTemp {
  position: relative;
  font-size: 35px;
  color: #d63447;
}

#humidity {
  display: inline;
}

#wind {
  display: inline;
}

.conditions {
  position: relative;
  top: 10px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  padding: 5px;
}

#changeMetric {
  position: relative;
  top: -15px;
  right: 3px;
  font-size: 15px;
}

#changeMetric .active {
  color: #000000;
  cursor: default;
}

#changeMetric .active:hover {
  text-decoration: none;
}

.currentLocation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 0px;
}

#geolocation {
  font-size: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0px;
}

.forecast {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  text-align: center;
}

#forecastTime {
  font-size: 13px;
  text-align: center;
}

.weather-forecast-icon {
  font-size: 30px;
  color: #ee8572;
}

#forecastTemp {
  font-size: 13px;
  text-align: center;
}

.btn-secondary {
  display: inline;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ee8572;
  background-color: transparent;
  color: #ee8572;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}

.btn-secondary:hover {
  border: 1px solid #d63447;
  background-color: transparent;
  color: #d63447;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.credit {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
}
